<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParseApplicationId</key>
	<string>8836SKN8WZJGrMmGbZGJBQwlkDj4iTD18Fz8ncu6</string>
	<key>ParseClientKey</key>
	<string>y1Sqo1MMgh7IIQNVfUnBWB7zw7X7AhDpi4CTRpZ1</string>
</dict>
</plist>
